<footer>
    This is footer

    <h1>Leave a comment</h1>

    <form action="/posts/create" id="new-post-form" method="post">
        <textarea name="content" rows="3" cols="30"></textarea>
        <input type="submit" value="Post">
    </form>
</footer>