<header>
    This is Header

    <ul>
        <% if(locals.user){ %>
            <li><a href="/user/profile">Profile</a></li>
            <li><%= user.name %></li>
            <li><a href="/user/signout">signout</a></li>

        <% }else{ %>
            <li><a href="/user/signin">signin</a></li>
            <li><a href="/user/signup">signup</a></li>
        <% } %>
    </ul>
</header>