<html>
    <head>
        <link rel="stylesheet" href="/CSS/style.css">
        <title>
            <%= title%>
             
    
        </title>
    </head>
    <body>
        <%- include('header'); %>

         <h1 id="head">
            create / <%= title%>
         </h1>
         <%- include('footer'); %>
    </body>
</html>