<html>
    <head>
        <title>
            <%= title%>
        </title>
    </head>
    <body>
        <%- include('header'); %>

         <h1>
            create / <%= title%>
         </h1>
         <%- '_footer'; %>
    </body>
</html>